extends layout

include mixins/displayMessages

block content
  .row.justify-content-center 
    .col-sm-10.col-md-9.col-lg-8.col-xl-6.col-xxl-5
      div.card.mt-5.overflow-hidden.shadow-md
        div.card-body.bs-body-bg
          h1.card-title.text-center= title

          form(action= formAction, method="POST")
            div.form-floating.mb-3
              input(
                id="username", 
                name="username", 
                placeholder="Username", 
                type="text", 
                class="form-control form-control-lg shadow-sm"
              )  
              label(for="username") Username 
            div.form-floating.mb-3
              input(
                id="password", 
                name="password", 
                type="password", 
                placeholder="Password",
                class="form-control form-control-lg shadow-sm"
              )
              label(for="password") Password
              div(
                class="py-4 d-flex flex-row align-items-center", 
                class= formAction === "/signup" ? "invisible" : ""
              )
                //- Display the remember me checkbox.
                label(
                  for="remember",
                  class="form-check-label"
                ) Remember 
                input(
                  id="remember", 
                  name="remember", 
                  type="checkbox", 
                  class="form-check-input mx-3"
                  )
              div 
                button(
                      type="submit",
                      class="btn btn-primary btn-lg w-100"
                    )= formAction === "/login" ? "Login" : "Sign up"

              div.p-3
                .row 
                  .col-12.d-flex.flex-row.align-items-center
                    hr.flex-grow-1
                    p.m-0.mx-2 or
                    hr.flex-grow-1
              
              div
                a(
                  href= formAction === "/login" ? "/signup" : "/login",
                  class="btn btn-lg btn-primary w-100"
                )= formAction === "/login" ? "Sign up" : "Login"

              div.p-2.border 
                a(href="/password-reset-request")  Forgot password
                
  //- button= formAction === "/login" ? "Login" : "Sign up"
  //- a(href="")= formAction === "/login" ? "Sign up" : "Login"

  if messages 
    +displayMessages(messages)
        
