extends layout 

block content 
  .row.justify-content-center 
    .col-sm-10.col-md-9.col-lg-8.col-xl-6.col-xxl-5
      div.card.mt-5.overflow-hidden.shadow-md
        div.card-body.bs-body-bg
          h1.card-title.text-center= title

          form(action="", method="POST")
            div.form-floating.mb-3
              input(
                type="password", 
                id="password", 
                name="password", 
                placeholder="Password", 
                class="form-control form-control-lg shadow-sm"
              )
              label(for="email") New password
            input.d-none.disabled(type="text", name="secret", value= secret)
            input.d-none.disabled(type="text", name="id", value= id)
            div 
              button(
                type="submit", 
                class="btn btn-primary btn-lg w-100"
              ) Submit
