mixin nav()
  nav.navbar.navbar-expand.bg-light-subtle.shadow-sm.mb-3
    .container-fluid
      ul.nav.nav-pills.w-100.justify-content-end
        li.nav-item
            a.nav-link(
              href="/posts"
              class = (title === "Posts") ? "active" : ""
            ) Posts
        if isAuthenticated
          li.nav-item
            a.nav-link(
              href="/home", 
              class = (title === "Home") ? "active" : ""
            ) Profile
          li.nav-item
            a.nav-link(
              href="/users", 
              class = (title === "Users") ? "active" : ""
            ) Users
          li.nav-item
            a.nav-link(
              href="/posts/create", 
              class = (title === "New post") ? "active" : ""
            ) New post
          li.nav-item 
            //- This state is never active. Logout and redirect to login. 
            a.nav-link(href="/logout") Logout
        else 
          a.nav-link(
            href="/login", 
            class = (title === "Login") ? "active" : ""
          ) Login