mixin postComponent(post)
  div
    div.card
      div.card-header.d-flex.flex-row.justify-content-between(
        style="min-height:40px"
      )
        if isAuthenticated 
          if post.belongsToCurrentUser
            p.m-0 Posted by you on #{post.date}
            div.d-flex.flex-row
              a(href=post.editLink) Edit 
              form(action=post.deleteLink, method="post")
                button Delete 
          else 
            p.m-0 Posted by #{post.author.name} on #{post.date}
      div.card-body
        p.m-0= post.body