mixin userStats(user)
  .row.justify-content-center
    .col.border-end
      a(
        href="/home?view=posts"
        class="d-flex flex-column align-items-center h-100 w-100"
        style="text-decoration:none;"  
      ) 
        p.m-0 Posts
        p.m-0= user.postCount
    .col  
      a(
        href="/home?view=followers"
        class="d-flex flex-column align-items-center h-100 w-100"
        style="text-decoration:none;"  
      ) 
        p.m-0 Followers
        p.m-0= user.followerCount
    .col.border-start
     a(
      href="/home?views=following"
      class="d-flex flex-column align-items-center h-100 w-100"
      style="text-decoration:none;"  
    ) 
      p.m-0 Following
      p.m-0= user.followCount